
.icon-info-outline:before { content: '\e800'; } /* '' */
.icon-doc-text:before { content: '\e801'; } /* '' */
.icon-doc-text-inv:before { content: '\e802'; } /* '' */
.icon-ruler:before { content: '\f044'; } /* '' */